body {
  margin: 0;
}

.layout {
  position: relative;

  box-sizing: border-box;
  padding: 18px 64px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background: url("./assets/background/bg.svg");
  background-size: cover;
}
.header {
  display: flex;
  gap: 25px;
}
.header span {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 37px;
  color: #272727;
  font-family: "Circe";
}
.home-icon {
  border-right: 1px solid rgb(52, 51, 51);
  padding-right: 25px;
}
.onpoint-icon {
  padding-top: 172px;
  padding-left: 5px;
}
.main-text {
  font-size: 99px;
  letter-spacing: 14px;
  line-height: 117px;
  color: #171717;
  font-weight: 500;
  font-family: "Gilroy";
  text-transform: uppercase;
}
.main-text span {
  font-size: 100px;
  font-weight: 900;
}
.text {
  padding-top: 89px;
  position: relative;
  z-index: 1;
}
.text-hello {
  font-size: 27px;
  letter-spacing: 4px;
  line-height: 70px;
  color: #242424;
  font-family: "Gilroy";
  text-transform: uppercase;
  font-weight: 100;
}

.chips {
  position: absolute;
  top: 15px;
  left: -81px;
  height: 231px;
  width: 206px;
}
.bakti-1 {
  width: 74px;
  position: absolute;
  top: 505px;
  left: 22px;
}
.bakti-2 {
  width: 243px;
  position: absolute;
  top: 642px;
  right: 246px;
}
.bakti-3 {
  position: absolute;
  top: 200px;
  right: 51px;
  width: 115px;
}
.bakti-4 {
  position: absolute;
  width: 63px;
  right: 217px;
  top: 63px;
}
.shadow-bakti-1 {
  position: absolute;
  bottom: 62px;
  left: 345px;
  width: 93px;
}
.shadow-bakti-2 {
  position: absolute;
  top: 34px;
  right: 40px;
  width: 71px;
}
.pink-sperm1 {
  position: absolute;
  top: 151px;
  width: 641px;
  right: -44px;
  z-index: 1;
}
.pink-sperm2 {
  position: absolute;
  bottom: -5px;
  width: 400px;
  left: -127px;
}
.button {
  border: 1px solid #ff6a9f;
  background-color: #ff6a9f;
  width: 286px;
  height: 78px;
  border-radius: 50px;
  position: relative;
  top: -28px;
  font-size: 23px;
  left: 30px;
}
.ellipse {
  width: 50px;
  height: 50px;
  padding: 2px;
  padding-left: 1px;
  left: 17px;
  position: absolute;
  top: 12px;
  background-color: #171717;
  border-radius: 50%;
}
.array {
  position: relative;
  right: 28px;
  width: 26px;
  top: 4px;
}
