body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.page {
  position: relative;

  height: 100vh;
  width: 100vw;

  overflow: hidden;

  background: url("../img/bg.svg");
  background-size: cover;
}

.logo {
  width: 57px;
  height: 12px;
  background: url("../img/logo.svg");
  background-size: contain;
  z-index: 100;
}

.page__container {
  position: relative;
  padding: 18px 66px 13px;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
}
