.page_two .content {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 47px;
  padding-right: 64px;
}

.page_two .title {
  font-size: 27px;
  letter-spacing: 2px;
  color: #242424;
  font-family: "DIN Pro";
  text-transform: uppercase;
}

.page_two .article-container {
  display: flex;
  gap: 26px;
}

.scrollbar {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 20px;
}

.scrollbar__way {
  height: 100%;
  width: 5px;

  border-radius: 2px;

  background-color: black;
}

.scrollbar__thumb {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 104px;

  border-radius: 10px;
  background-color: #cf578d;

  transition: transform 0.5s ease-in-out;
}

.page_two .article {
  position: relative;
  z-index: 1;
  padding: 23px 30px;
  border-radius: 40px;

  font-family: "DIN Pro";
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;

  background-color: white;
  filter: drop-shadow(5.446px 8.387px 125px rgba(157, 185, 198, 0.39));

  overflow: hidden;
}

.page_two .article::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;

  background-image: linear-gradient(transparent 70%, white);
  z-index: 1;
}

.page_two .article__text {
  height: 399px;
  overflow: scroll;
}

.page_two .article__text::-webkit-scrollbar {
  display: none;
}
